@*<a ui-sref="main">Main</a>
    <a ui-sref="state2">Page 2</a>*@
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p style="width:50px" class="navbar-text navbar-right"><a ui-sref="main" style="color:black">Home </a></p>
        <p style="width:100px" class="navbar-text navbar-right"><a href="#/event/" style="color:black">Create Event</a></p>
        <p style="width:100px" class="navbar-text navbar-right"><a ui-sref="userHome" style="color:black">User Home</a></p>
    </div>
</nav>
<div ui-view></div>
