<div class="container">
    <div class="event-form">
        <h2 ng-if="model.createEvent">Create Event</h2>
        <h2 ng-if="!model.createEvent">Edit Event</h2>
        <button ng-disabled="eventForm.$invalid || !model.submitValid || !model.datesValid || model.endDateTooEarly || model.startDateTooEarly
                || model.incorrectStartDateFormat || model.incorrectEndDateFormat"
                type="button" class="btn btn-default btn-right" ng-click="save()">
            Save
            <i ng-show="!model.submitValid" class="fa fa-spinner fa-pulse fa-fw loading"></i>
        </button>
        <a href="#main" class="btn btn-danger btn-left">Cancel</a><br /><br /><br />
        <form name="eventForm">
            <div class="form-group">
                <p for="eventName">Event Name *</p>
                <input type="text" class="form-control" name="eventName" id="eventName" placeholder="Name"
                       ng-click="clicked('eventName')" ng-model="model.event.Name" required />
                <small ng-if="eventForm.eventName.$invalid && model.eventNameClicked" style="color:red">Name is required</small>
            </div>
            <div class="form-group">
                <p for="startAt">Start *</p>
                <!--<input type="datetime-local" class="form-control" name="startAt" id="startAt" ng-model="model.event.StartAt" required />-->
                <div class="dropdown">
                    <a class="dropdown-toggle" id="startAt" role="button" data-toggle="dropdown">
                        <div class="input-group data">
                            <input type="text" ng-change="timeValidate()" class="form-control dateinput" name="startAt" data-ng-model="model.event.StartAt" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="model.event.StartAt"
                                        data-datetimepicker-config="{ dropdownSelector: '#startAt'}"
                                        data-on-set-time="onTimeSet('s')"
                                        data-before-render="beforeRender('s')">
                        </datetimepicker>
                    </ul>
                </div>
                <small ng-if="!model.datesValid" style="color:red">End Date must be later than Start Date<br /></small>
                <small ng-if="model.startDateTooEarly" style="color:red">Start Date cannot be set in the past</small>
                <small ng-if="model.incorrectStartDateFormat" style="color:red">Incorrect Date Format</small>
            </div>
            <div class="form-group">
                <p for="endAt">End *</p>
                <div class="">
                    <div class="dropdown">
                        <a class="dropdown-toggle" name="endAt" id="endAt" role="button" data-toggle="dropdown">
                            <div class="input-group data">
                                <input type="text" ng-change="timeValidate()" class="form-control dateinput" name="endAt" data-ng-model="model.event.EndAt" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="model.event.EndAt"
                                            data-datetimepicker-config="{ dropdownSelector: '#endAt' }"
                                            data-on-set-time="onTimeSet('e')"
                                            data-before-render="beforeRender('e')">
                            </datetimepicker>
                        </ul>
                    </div>
                </div>
                <small ng-if="!model.datesValid" style="color:red">End Date must be later than Start Date<br /></small>
                <small ng-if="model.endDateTooEarly" style="color:red">End Date cannot be set in the past</small>
                <small ng-if="model.incorrectEndDateFormat" style="color:red">Incorrect Date Format</small>
            </div>
            <div class="form-group">
                <p for="eventName">Event Description</p>
                <textarea class="form-control" rows="5" name="eventDescription" placeholder="Optional description of event" ng-model="model.event.Description"></textarea>
            </div>
            <div>
                <p class="hover" ng-click="ActiveBox()" for="isActive">Active</p>
                <!--<label class="hover">
                    <input type="checkbox" ng-model="model.event.IsActive" />
                </label>-->
                <a ng-if="model.event.IsActive" ng-click="ActiveBox()"><i class="fa fa-check hover e-checkbox" aria-hidden="true"></i></a>
                <a ng-if="!model.event.IsActive" ng-click="ActiveBox()"><i class="fa fa-check hover e-uncheckbox" aria-hidden="true"></i></a>
            </div>
            <div>
                <h3>Voting Scheme</h3>
                <table class="vote-scheme">
                    <tr>
                        <th>Multple Votes Allowed</th>
                        <th>Single Votes Only</th>
                    </tr>
                    <tr>
                        <th>
                            <a ng-if="model.event.MultipleVotes" ng-click="VotingBox()"><i class="fa fa-check hover e-checkbox" aria-hidden="true"></i></a>
                            <a ng-if="!model.event.MultipleVotes" ng-click="VotingBox()"><i class="fa fa-check hover e-uncheckbox" aria-hidden="true"></i></a>
                        </th>
                        <th>
                            <a ng-if="!model.event.MultipleVotes" ng-click="VotingBox()"><i class="fa fa-check hover e-checkbox" aria-hidden="true"></i></a>
                            <a ng-if="model.event.MultipleVotes" ng-click="VotingBox()"><i class="fa fa-check hover e-uncheckbox" aria-hidden="true"></i></a>
                        </th>
                    </tr>
                </table>
                <br />
                <div ng-if="model.showResetVotes">
                    <p>
                        Reset Votes? <a class="hover" ng-click="ResetVotesInfo()"><i class="fa fa-info-circle edit" aria-hidden="true"></i></a>
                        <div class="reset-info" ng-if="model.showResetVotesInfo">
                            If someone has already voted multiple times, and you change from Multiple Votes to Single Votes, their votes will <bold>not</bold>
                            be deleted unless they vote again or you reset votes.
                        </div>
                        <button ng-if="model.event.ResetVotes" ng-click="ResetVotes()" type="submit" class="btn btn-warning btn-smx">Yes</button>
                        <button ng-if="!model.event.ResetVotes" ng-click="ResetVotes()" type="submit" class="btn btn-info btn-smx">No</button>
                    </p>
                    <small ng-if="model.event.ResetVotes" style="color:yellow">All Votes for this event will be deleted!<br /></small>
                </div>
            </div>
        </form>

        <br />
        <h3>Add Participant</h3>


        <form name="participantForm" ng-submit="addParticipant()">
            <div class="form-group">
                <p for="participantName">Participant Name *</p>
                <input type="text" class="form-control" name="participantName" id="participantName" placeholder="Name"
                       ng-model="model.participantName" ng-click="clicked('participant')" required />
                <small ng-if="participantForm.participantName.$invalid && model.participantClicked" style="color:red">Name is required</small>
            </div>
            <!--<div class="form-group">
                <label for="imageFile">Image</label>
                <input type="file" id="imageFile" ng-model="model.participantImage" flow-btn>
                <p class="help-block">Upload a participant image here</p>
            </div>-->
            <button ng-disabled="participantForm.$invalid" type="submit" class="btn btn-default btn-smx">Add</button>
        </form>


        <br /><br />
        <h4>Participants</h4>
        <p ng-if="model.participants.length == 0"> No participants yet!</p>
        <table class="table table-hover">
            <tr ng-repeat="participant in model.participants">
                <td height="40"><img id="pImage" style="max-width:70px; max-height: 100px" />{{$index +1}}.</td>
                <td class="hover" ng-click="editParticipantName($index)" ng-if="$index != model.editingParticipantIndex">{{participant.Name | characters: 40}}</td>
                <td ng-show="model.editingParticipant && $index == model.editingParticipantIndex">
                    <form name="editParticipantForm" ng-submit="saveParticipantName($index)">
                        <div class="form-group">
                            <input type="text" class="form-control" name="participantName" id="participantName" placeholder="Name"
                                   ng-model="model.editParticipantName" required />
                            <small ng-if="editParticipantForm.participantName.$invalid" style="color:yellow">Name is required</small>
                        </div>
                        <button ng-disabled="editParticipantForm.$invalid" type="submit" class="btn btn-default btn-smx btn-small">Save</button>
                        <button ng-click="cancelParticipantName()" class="btn btn-danger btn-smx btn-small">Cancel</button>
                    </form>
                </td>
                <td><a ng-if="$index != model.editingParticipantIndex" ng-click="editParticipantName($index)"><i class="fa fa-pencil-square-o fa-lg edit hover" aria-hidden="true"></i></a></td>
                <td><a ng-if="$index != model.editingParticipantIndex" ng-click="removeParticipant($index)" style="color:black"><i class="fa fa-times fa-lg hover" aria-hidden="true"></i></a></td>
            </tr>
        </table>
        <button ng-disabled="eventForm.$invalid || !model.submitValid || !model.datesValid || model.endDateTooEarly || model.startDateTooEarly
                || model.incorrectStartDateFormat || model.incorrectEndDateFormat"
                type="button" class="btn btn-default btn-right" ng-click="save()">
            Save
            <i ng-show="!model.submitValid" class="fa fa-spinner fa-pulse fa-fw loading"></i>
        </button>
        <a href="#main" class="btn btn-danger btn-left">Cancel</a>
    </div>
</div>