<div class="container">
    <div class="winner"><h2>Congrautlations!</h2>{{model.event.Winners}} <h4>Got the most votes!</h4></div><br /><br />
    <h3>{{model.event.Name}}</h3>
    <p>{{model.event.Description}}</p>
    <br /><br />
    <table class="progress-table" >
        <tr>
            <th><p>Name</p></th>
            <th><p>Votes</p> </th>
        </tr>
        <tr ng-repeat="participant in model.event.Participants | orderBy:'-VoteCount'">
            <td><p>{{participant.Name}}</p></td>
            <td class="vote-bar">
                <div class="progress-bar" 
                     style="width:{{getPercent(participant.VoteCount)}}%; background-color:{{participant.Color}}">
                <p>{{participant.VoteCount}}</p></div>
                <div ng-if="participant.VoteCount==0" class="progress-bar" 
                     style="width:8%;"><p>{{participant.VoteCount}}</p></div>
            </td>
        </tr>
    </table>
    <br />
    <a href="#userHome" class="btn btn-default" style="float: left">Back</a>
</div>
<div class="container">

</div> 
