<div class="container">
    <div class="container">
        <h4>Active Events</h4>
        <div ng-if="model.events.ActiveEvents.length == 0">
            <p>No Records Found</p>
        </div>
        <div class="cards" ng-repeat="event in model.events.ActiveEvents">
            <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-block ">
                    <div class="card-body">
                        <h3 class="card-title">{{event.Name | characters:24: false}}</h3>
                        <p class="card-text">Start: {{event.StartAt | date:'M/d/yy'}} {{event.StartAt | date:'h:mm a'}}</p>
                        <p class="card-text">End: {{event.EndAt | date:'M/d/yy'}} {{event.EndAt | date:'h:mm a'}}</p>
                        <p class="description">{{event.Description | characters:80: false}}</p>
                    </div>
                    <a ui-sref="userEventVote({eventId: event.Id})" class="btn btn-primary">Vote</a>
                    <a ui-sref="userEventView({eventId: event.Id})" class="btn btn-primary">Leaderboard</a>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-line"></div>
    <div class="container">
        <h4>Upcoming Events</h4>
        <div ng-if="model.events.UpcomingEvents.length > 0">
            <a ng-if="!model.showUpcoming" ng-click="showHide('Upcoming')" class="btn btn-default">Hide</a>
            <a ng-if="model.showUpcoming" ng-click="showHide('Upcoming')" class="btn btn-default">Show</a>
        </div>
        <div ng-if="model.events.UpcomingEvents.length == 0">
            <p>No Records Found</p>
        </div>
        <div class="cards" ng-hide="model.showUpcoming" ng-repeat="event in model.events.UpcomingEvents">
            <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-block">
                    <h4 class="card-title">{{event.Name | characters:24: false}}</h4>
                    <p class="card-text">Start: {{event.StartAt | date:'M/d/yy'}} {{event.StartAt | date:'h:mm a'}}</p>
                    <p class="card-text">End: {{event.EndAt | date:'M/d/yy'}} {{event.EndAt | date:'h:mm a'}}</p>
                    <p class="description">{{event.Description | characters:80: false}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-line"></div>
    <div class="container">
        <h4>Past Events</h4>
        <div ng-if="model.events.PastEvents.length > 0">
            <a ng-if="!model.showPast" ng-click="showHide('Past')" class="btn btn-default">Hide</a>
            <a ng-if="model.showPast" ng-click="showHide('Past')" class="btn btn-default">Show</a>
        </div>
        <div ng-if="model.events.PastEvents.length == 0">
            <p>No Records Found</p>
        </div>
        <div class="cards" ng-hide="model.showPast" ng-repeat="event in model.events.PastEvents | limitTo:3">
            <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3 pastEvent">
                <a ui-sref="eventWinner({eventId: event.Id})">
                    <div class="card-block">
                        <h4 class="card-title">{{event.Name | characters:24: false}}</h4>
                        <p class="card-text">Start: {{event.StartAt | date:'M/d/yy'}} {{event.StartAt | date:'h:mm a'}}</p>
                        <p class="card-text">End: {{event.EndAt | date:'M/d/yy'}} {{event.EndAt | date:'h:mm a'}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br /> <br /> <br /> <br />
</div>