
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

td{
    font-weight: 500;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
}

h2, h4, td {
    color: #d8dde1;
}

h3 {
    font-size: 22px;
    color: #d9dadb;
}

p {
    color: #fdfdfd;
    max-width: 95%;
    font-size: 16px;
}

p {
    font-family: Oswald;
}

.dateinput {
    max-width: none;
}

.background {
    background-color: #2d3236;
    max-width: 100%;
}

.body-background {
    background-color: #353c42;
}

.card {
    padding: 5px;
    text-align: center;
}

.card-block {
    background-color: #6f7479;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
}

.card-title {
    padding: 5px;
}

.nav-btn {
    max-width: 100%;
    font-family: Oswald;
    color: white;
}

.btn {
    margin: 10px;
    font-family: Oswald;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

@media (max-width: 768px) {
    .btn {
        padding: 10px 41px;
        max-width: 80%;
    }

    .progress-height{
        line-height: 30px;
    }

    .progress-table, .vote-table, .winner, .event-form, .email-form {
        width: 100%;
    }

    .table, table-hover {
        min-width: 100%;
        max-width: 100%;
        padding: 1px;
        margin: 1px;
    }

    .cards {
        max-width: 100%;
        min-width: 100%;
    }

    .body-background, .container {
        margin: 0px;
        padding: 2px;
        border-radius: 15px;
        max-width: 100%;
    }

    .btn-left {
        float: right;
    }

    .logo {
        max-height: 250%;
        position: relative;
        top: -15px;
    }

    .desktop {
        display: none;
    }
}

/*@media(max-width: 342px) {
    .body-background {
        margin-top: 30px;
    }

    .logo {
        max-height: 210%;
        position: relative;
        top: -8px;
    }
}*/


@media(min-width: 566px) and (max-width: 767px) {

    .card {
        width: 50%;
    }

    .vote-bar, .progress-table, .vote-table {
        width: 100%;
    }
}

@media(min-width: 769px) {

    td {
        white-space: nowrap;
    }

    .navbar-toggle-style {
        display: none;
    }
    .container{
        max-width: 100%;
    }
    .progress-table {
        width: 90%;
    }

    .vote-table, .winner, .event-form {
        width: 50%;
    }

    .logo {
        max-height: 250%;
        position: relative;
        top: -15px;
    }

    .table {
        max-width: 92%;
    }

    .email-form {
        width: 40%;
    }

    .body-background {
        margin-top: 25px;
        padding: 10px;
        border-radius: 15px;
    }

    .mobile {
        display: none;
    }

    .vote-table {
        width: 50%;
    }
}

.cards {
    width: 85%;
}

.email-form,
.event-form {
    float: left;
}

.pastEvent {
    opacity: 0.5;
    color: black;
}

a {
    color: black;
}

    li, a:hover {
        color: #ed1c24;
    }

.eActive {
    color: #00ff1e;
}

.eInactive {
    color: red;
}

.edit {
    color: #0078ff;
}

.dropdown {
    color: white;
}

.day:hover {
    background-color: blue;
}

.description {
    width: 100%;
    height: 30px;
    font-size: 12px;
    margin-bottom: 15px;
}

.card-body {
    border-bottom: solid 1px;
    border-color: #7e8286;
}

.vote-bar {
    width: 85%;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-table {
    max-width: 100%;
    line-height: normal;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 10px 12px;
    color: #C3C4C5;
}

.vote-table {
    text-align: center;
    max-width: 100%;
    background-color: #2d3236;
    border-radius: 20px;
    border-collapse: separate;
    border-spacing: 10px 3px;
}

.row-data {
    font-size: 18px;
    font-family: Oswald;
    margin: 15px;
}

.vote-button {
    background-color: #1080b6;
    border-radius: 15px;
}

    .vote-button:hover {
        background-color: #4792b6;
    }

    .vote-button:active {
        background-color: #0de0e5;
    }

.hover {
    cursor: pointer;
}

.td {
    
}


.navbar-style {
    border-color: #2d3236;
    background-color: #4a545d;
}

.lowerbar {
    border-color: #2d3236;
    background-color: white;
    width: 100%;
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navbar-toggle-style {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

.winner {
    border: outset 3px;
    border-radius: 15px;
    border-color: #187b92;
    background-color: #155767;
    font-size: 20px;
    padding: 10px;
    color: gold;
    text-align: center;
    margin: auto;
}

.table {
    max-width: 92%;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #c1161c;
    color: white;
}

.divider-line{
    border: solid 4px;
    border-color: #2d3236;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -25px;
    margin-right: -25px;
}
