<div class="container" style="margin: 0 auto">
    <h3>Congrautlations!</h3>
    <div class="winner">{{model.event.Winners}}</div><br /><br />
    {{model.event.Description}}
    <table class="progress-table">
        <tr>
            <th>Name </th>
            <!--<th ng-if="model.voteAllowed"> </th>-->
            <th> </th>
        </tr>
        <tr ng-repeat="participant in model.event.Participants | orderBy:'-VoteCount'">
            <td>{{participant.Name}}</td>
            <!--<td ng-if="model.voteAllowed">
                <a href="" class="" ng-disabled="!model.email" ng-click="vote(participant)">
                    <i style="color:black" class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
                </a>
            </td>-->
            <td class="vote-bar">
                <div class="progress-bar" style="width:{{getPercent(participant.VoteCount)}}%"><p>{{participant.VoteCount}}</p></div>
                <div ng-if="participant.VoteCount==0" class="progress-bar" style="width:8%"><p>{{participant.VoteCount}}</p></div>
            </td>
        </tr>
    </table>
    <br />
    <a href="#userHome" class="btn btn-danger" style="float: left">Back</a>
</div>
<div class="container">

</div> 
